@model List<Produto>

<!--seção de apresentação da empresa-->
<section class="hero">
    <img src="/images/banner.png" alt="Banner">
    <div class=" hero-botoes">
         <button type="button" class="btn btn-verProdutos">CONHEÇA NOSSOS PRODUTOS</button>
         <button type="button" class="btn btn-faleNoWhatsapp">FALE CONOSCO</button>
    </div>
</section>

<!-- seção de cards dos produtos  -->
<section>
    <h2>NOSSOS SABORES</h2>

    <div class="swiper produtos-swiper">
        <div class="swiper-wrapper">
            @foreach (var produto in Model)
            {
                <div class="swiper-slide">
                    <div class="card">
                        <img src="@produto.Imagem" alt="@produto.Nome">
                        <div class="card-body">
                            <h5>@produto.Nome</h5>
                            <button type="button" class="btn btn-saibaMais">SAIBA MAIS</button>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-pagination"></div>
    </div>
</section>

<!-- seção de diferenciais da empresa -->
   <section>
    <div class="diferenciais">
        <div class="diferencial-item">
            <img src="~/images/dif1.png" alt="Diferencial 1" />
        <div class="diferencial-texto">
        <h3>Feita com amor</h3>
        <p>Receitas artesanais feitas com carinho em cada etapa. </p>
        </div>
    </div>  
        <div class="diferencial-item">
            <img src="~/images/dif2.png" alt="Diferencial 2" />
            <div class="diferencial-texto"> 
             <h3>Ingredientes selecionados</h3>
             <p>Utilizamos apenas ingredientes de alta qualidade para garantir o melhor sabor.</p>
        </div>
    </div>
        <div class="diferencial-item">
            <img src="~/images/dif3.png" alt="Diferencial 3" />
            <div class="diferencial-texto">
            <h3>Momentos inesquecíveis</h3>
            <p>Transformamos momentos comuns em lembranças especiais.</p>
        </div>
    </div>  
        <div class="diferencial-item">
            <img src="~/images/dif4.png" alt="Diferencial 4" />
            <div class="diferencial-texto">     
            <h3>Entrega para todo lugar</h3>
            <p>Levamos nossas delícias para você, onde e quando precisar!</p>
    </div>
       </div>
    </div>
   </section>   

   <section>
       <div class="banner">
        <h1>Preparada para deixar seu dia mais KROCKANTE?</h1>
        <h5>Peça agora e experimente a pipoca que todo mundo está apaixonado!</h5>
        <button type="button" class="btn btn-fazerMeuPedido">FAZER MEU PEDIDO</button>

       </div>
   </section>

@section Scripts {
    <script>
        const swiper = new Swiper('.produtos-swiper', {
            slidesPerView: 4,
            spaceBetween: 20,
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            pagination: {   
                el: '.swiper-pagination',
                clickable: true,
            },
        });
    </script>
}

