:root {
    --cor-principal: #EC1C69;
    --cor-rosa-claro: #ffd4e5;
    --cor-branco: #ffffff;
    --cor-preto: #111111;
}

header {
    background-color: var(--cor-principal);
    color: var(--cor-branco);
    padding: 20px;
    text-align: left;
    border-bottom: 2px solid var(--cor-preto);
}

header img {
    width: 150px;
    height: auto;
}

header nav a {
    color: var(--cor-branco);
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 0;
    padding: 0;

}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-acoes {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header-icon {
    display: flex;
    gap: 10px;
}

section {
    padding: 5px 5px;
    background-color: var(--cor-principal);
    color: var(--cor-branco);
    border-bottom: 2px solid var(--cor-preto);
}

body {
    background-color: var(--cor-principal);
    color: var(--cor-branco);
    text-align: center;
    border-bottom: 2px solid var(--cor-preto);
    font-family: "Baloo 2", sans-serif;
}

.btn-outline-faleConosco {
    background-color: var(--cor-principal);
    color: var(--cor-branco);
    border: solid;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px 20px 20px 20px; /* [TL] [TR] [BR] [BL] */
}

.btn-faleNoWhatsapp {
    background-color: var(--cor-preto);
    color: var(--cor-branco);
    border: solid;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px 20px 20px 20px; /* [TL] [TR] [BR] [BL] */
}

.btn-verProdutos {
    background-color: var(--cor-branco);
    color: var(--cor-preto);
    border: solid;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px 20px 20px 20px; /* [TL] [TR] [BR] [BL] */
}

.hero {
    display: flex;
    align-items: center;
}
.hero-images img {
    width: 250px;
    height: 350px;
}

.hero-conteudo {
    width: 50%;
}

.galeria-horizontal {
    display: flex;
    gap: 15px;
    overflow-x: auto;
    padding: 10px 0;
}

.galeria-horizontal img {
    max-width: 200px;
    height: auto;
    border-radius: 8px;
}

.card {
    background-color: var(--cor-principal);
    border: 1px solid var(--cor-branco);
    border-radius: 10px;
    padding: 15px;
    text-align: center;
}

.card h5 {
    font-family: "Baloo 2", sans-serif;
    color: var(--cor-branco);
}

.card img {
    width: 100px;
    height: 250px;
    object-fit: cover;
}

.diferenciais {
    display: flex;
    gap: 60px;
    justify-content: center;
    margin-top: 20px;
}

.rodape {
    display: flex;
    background-color: var(--cor-principal);
    color: var(--cor-branco);
    padding: 20px;
    text-align: center;
    gap: 100px;
}

.imagem-allkrock {
    display: flex;
    align-items: center;
    gap: 10px;

}

.rodape1 {
    padding: 10px;
    background-color: var(--cor-preto);
}

.rodape1 p {
    margin: 0;
}

html {
    width: 100%;
    height: 100%;
}

.link-rodape {
    display: flex;
    list-style: none;
    gap: 5px;
    margin: 0;
    padding: 0;
    flex-direction: column;
}

.fale-conosco {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.diferencial-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.diferencial-texto h3,
.diferencial-texto p {
    margin: 0;
}

.diferencial-item svg {
    color: var(--cor-preto);
    width: 30px;
    height: 30px;
}
.footer-item {
    display: flex;
    gap: 5px;
    align-items: center;
}
